@import url("./components/button.css");
@import url("./components/Home/Plans.css");
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  max-width: 1600px;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}

/* PAGE LAYOUT ******************/
:root {
  --page-margin-x: 28px;
}
header,
footer {
  padding: 0 var(--page-margin-x);
}
section {
  padding: 52px var(--page-margin-x);
}
/*Md*/
@media (min-width: 768px) {
  :root {
    --page-margin-x: 64px;
  }
  section {
    padding: 100px var(--page-margin-x);
  }
}
/*Lg*/
@media (min-width: 1024px) {
  :root {
    --page-margin-x: 100px;
  }
}
/*Xl*/
@media (min-width: 1280px) {
  :root {
    --page-margin-x: 150px;
  }
}
/*2Xl*/
@media (min-width: 1440px) {
  :root {
    --page-margin-x: 200px;
  }
}

/* TAILWIND BOILERPLATE ******************/
@tailwind base;

@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-xl md:text-3xl leading-tight;
  }
  h2 {
    @apply font-medium opacity-80 text-lg md:text-2xl;
  }
  h3 {
    @apply font-bold text-lg;
  }
  h4 {
    @apply text-md;
  }
  body {
    @apply m-auto;
  }
}
