html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-xl md:text-3xl;
  }
  h2 {
    @apply font-medium text-lg md:text-2xl;
  }
  h3 {
    @apply font-bold text-lg;
  }
  h4 {
    @apply text-md;
  }
}

@layer components {
  .logo {
    @apply text-xm font-black;
  }
}
