@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("./components/button.css");
@import url("./components/Home/index.css");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;

  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
html,
body {
  line-height: 1.5;
}
body {
  max-width: 2000px;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
  color: rgba(35, 35, 51, 0.5);
}

/* PAGE LAYOUT ******************/
:root {
  --page-margin-x: 28px;
}
header {
  padding: 0 var(--page-margin-x);
}
section {
  padding: 52px var(--page-margin-x);
}
/*Md*/
@media (min-width: 768px) {
  :root {
    --page-margin-x: 64px;
  }
  section {
    padding: 107.5px var(--page-margin-x);
  }
}
/*Lg*/
@media (min-width: 1024px) {
  :root {
    --page-margin-x: 100px;
  }
}
/*Xl*/
@media (min-width: 1280px) {
  :root {
    --page-margin-x: 150px;
  }
}
/*2Xl*/
@media (min-width: 1440px) {
  :root {
    --page-margin-x: 200px;
  }
}

/* TAILWIND BOILERPLATE ******************/
@tailwind base;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-xl md:text-3xl leading-tight;
  }
  h2 {
    @apply font-bold opacity-80 text-lg md:text-2xl leading-tight;
  }
  h3 {
    @apply font-bold text-lg;
  }
  h4 {
    @apply text-md;
  }
  body {
    @apply m-auto;
  }
  .wrapper {
    @apply max-w-1000 m-auto;
  }
  .text-87 {
    @apply opacity-87 font-medium text-232333 dark:text-white;
  }
}
